<h1>Sessions#login</h1>
<p>Find me in app/views/sessions/login.html.erb</p>
<!-- <fieldset>
  <legend> login </legend>
<form action="/sessions method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="email">email</label>
  <input type="text" name="user[email]" id="email">
  <label for='password'>password</label>
  <input type="text" name="user[password]" id="password">
  <input type="submit" value="Create">
</form>
</fieldset> -->